@font-face {
  font-family: miso-light;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/miso-light/miso-light.eot");
  src: url("../fonts/miso-light/miso-light.eot?#iefix") format("embedded-opentype"), url("../fonts/miso-light/miso-light.woff") format("woff"), url("../fonts/miso-light/miso-light.ttf") format("truetype"), url("../fonts/miso-light/miso-light.svg#fontawesomeregular") format("svg");
}
body {
  font-family: 'Microsoft YaHei UI Light', Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #eee;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Microsoft YaHei UI Light', Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.ui.top.fixed.menu .site-name-area {
  display: flex;
  align-items: flex-end;
}
.ui.top.fixed.menu .site-name-area .site-title {
  font-size: 1.2em;
}
.ui.top.fixed.menu .site-name-area .site-subtitle {
  font-size: 0.8em;
}
.ui.top.fixed.menu .site-name-area .site-subtitle:before {
  content: '-';
  margin: 0 0.5em;
}
.ui.top.fixed.menu.blur {
  filter: blur(3px);
  background: transparent;
}
.ui.top.fixed.menu .clock {
  font-family: miso-light, monospace;
  font-size: 1.4em;
  padding: 0 1em;
}
.body {
  padding-top: 50px;
  background: linear-gradient(to right, #363540 0, #363540 200px, transparent 200px, transparent);
  display: flex;
  flex-direction: row;
}
.body .left-side {
  flex-grow: 1;
}
.body .right-side-assistance {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 150px;
}
@media screen and (max-width: 1400px) {
  .body .right-side-assistance {
    display: none;
  }
}
.body .right-side-assistance > a {
  width: 100%;
  margin: 10px 0;
  padding: 1px;
  border-radius: 3px 0 0 3px;
  border-left: 3px solid;
  background: #fefefe;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
  transition: color 0.3s;
  color: #8b949d;
}
.body .right-side-assistance > a:hover {
  color: #ffd9cc;
}
.body .right-side-assistance > a > img {
  display: block;
  width: 100%;
}
.article {
  display: flex;
  flex-direction: row;
  width: 1200px;
  padding: 10px 0;
}
.article .article-meta {
  width: 200px;
  padding: 0 15px 30px 15px;
  background: #363540;
  color: #fff;
  text-align: right;
  overflow: visible;
}
.article .article-meta .article-header {
  text-align: left;
  white-space: nowrap;
  background: linear-gradient(to right, #454b55 0, #454b55 1210px, rgba(94,107,120,0.9) 1210px, rgba(94,107,120,0.9));
  padding: 12px 80px 12px 50px;
  position: absolute;
  left: 0;
  width: 1215px;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
  border-radius: 0 3px 3px 0;
  color: #f5f5f5;
}
.article .article-meta .article-header + * {
  margin-top: 75px;
}
.article .article-meta .article-header a {
  color: #73b3e9;
}
.article .article-meta .article-header a:hover {
  color: #e96b6b;
}
.article .article-meta .article-header h1 {
  font-size: 1.6em;
}
.article .article-meta a {
  color: #7abcff;
  transition: color 0.3s;
}
.article .article-meta a:hover {
  color: #ff6c7f;
}
.article .article-meta .rotate {
  transform: rotate(-10deg);
  margin-left: -18px;
  margin-right: -18px;
  padding: 6px 15px;
}
.article .article-meta .rotate ~ .rotate {
  border-top: 1px solid rgba(151,151,151,0.39);
}
.article .article-meta .article-date {
  font-size: 1.2em;
  font-family: miso-light, monospace;
}
.article .article-inner {
  width: 1000px;
}
.article .article-inner .article-entry {
  padding: 65px 30px 15px 30px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
  border-radius: 0 0 5px 0;
}
.article .article-inner .article-entry a {
  border-bottom: 1px dashed;
  margin-bottom: -1px;
  transition: color 0.3s;
}
.article .article-inner .article-entry a:hover {
  color: #dc143c;
}
.article .article-inner .article-entry p {
  margin: 1em 0;
}
.article .article-inner .article-entry hr {
  border-top: 1px dashed;
  margin: 2em 0;
}
.article .article-inner .article-entry img {
  max-width: 100%;
  border: 1px solid #aaa;
  background: #eee;
  margin: 10px 0;
  border-radius: 3px;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}
.article .article-inner .article-footer {
  margin: 30px 0;
}
.article-entry pre,
.article-entry .highlight {
  background: #25384b;
  margin: 1em -35px 1em -35px;
  padding: 15px 30px;
  border-style: solid;
  border-color: #475972;
  border-width: 0 5px 0 5px;
  border-radius: 3px;
  overflow: auto;
  color: #ccc;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #ebebeb;
  text-shadow: 0 1px #fff;
  padding: 0.1em 0.3em;
  margin: 0 0.2em;
  border-radius: 3px;
  color: #dc143c;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 19.599999999999998px;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .highlight .code .line {
  padding-right: 2em;
}
.article-entry .gist {
  margin: 0 -30px;
  border-style: solid;
  border-color: #475972;
  border-width: 1px 0;
  background: #25384b;
  padding: 15px 30px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #25384b;
  color: #999;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 30px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: color-link;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
